.blinking{
	animation:blinkingText 0.8s infinite;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}